# Datatypes and Operators

In [0]:
#Basic Numeric and String datatypes

a = 5
b = 10
c = "Welcome to Workshop on Deep Learning"

print("a is : ",a)
print("b is : ",b)
print("c is : ",c)

a is :  5
b is :  10
c is :  Welcome to Workshop on Deep Learning

In [0]:
p,q,r = 10, 20, "Pretty good start"
print("p : ",p,"q : ",q,"r : ",r)

p :  10 q :  20 r :  Pretty good start

## Lists

In [0]:
# A type of arrays
primes = [2,3,5,7,11,13,17,19]
days = ['Mon','Tue','Wed','Thur','Fri','Sat']
mix = ['Apple','Mango',55,33,66]

print(primes)
print(days)
print(mix)

# Getting the size of the list

print("No. of primes : ",len(primes))
print("Size of mix : ",len(mix))

[2, 3, 5, 7, 11, 13, 17, 19]
['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat']
['Apple', 'Mango', 55, 33, 66]
No. of primes :  8
Size of mix :  5

In [0]:
print("Third prime : ",primes[2])
print("A block of elements : ",days[2:5])
print("Negative indices : ",mix[-2])

Third prime :  5
A block of elements :  ['Wed', 'Thur', 'Fri']
Negative indices :  33

In [0]:
# Adding elements to list
primes.append(23)
primes.append(29)
print(primes)

# Adding anywhere (Replacing)

mix[2] = "Banana"

print(mix)

# Adding anywhere (Inserting)
mix.insert(3,"Orange")
print(mix)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 23, 29]
['Apple', 'Mango', 'Banana', 33, 66]
['Apple', 'Mango', 'Banana', 'Orange', 33, 66]

In [0]:
# Methods of lists

# sort

days.sort()
print(days)

# reverse
days.reverse()
print(days)

mix.append('Mango')
mix.append('Mango')
mix.append('Mango')

print("Number of Mangoes : ",mix.count('Mango'))

['Fri', 'Mon', 'Sat', 'Thur', 'Tue', 'Wed']
['Wed', 'Tue', 'Thur', 'Sat', 'Mon', 'Fri']
Number of Mangoes :  4

## Dictionaries

In [0]:
# Lists are ordered sets of objects, whereas dictionaries are unordered sets. 
# But the main difference is that items in dictionaries are accessed via keys and not via their position.
tel = {'Hunt': 4098, 'Benji': 4139}
tel['Faust'] = 4127
print("Dictionary contains : ",tel)
print("Accessing via keys : ",tel['Hunt'])
del tel['Benji']
tel['Lane'] = 4127
print("After adding and deleting some elements : ",tel)
print("Printing keys : ",tel.keys())
print("Sorting on keys : ",sorted(tel.keys()))
print("Sorting on values : ",sorted(tel.values()))
print("Checking for presence of an element : ",'Lane' in tel)
print("Checking for ABSENCE of an element : ",'Benji' not in tel)
print('Benji' in tel)

Dictionary contains :  {'Hunt': 4098, 'Benji': 4139, 'Faust': 4127}
Accessing via keys :  4098
After adding and deleting some elements :  {'Hunt': 4098, 'Faust': 4127, 'Lane': 4127}
Printing keys :  dict_keys(['Hunt', 'Faust', 'Lane'])
Sorting on keys :  ['Faust', 'Hunt', 'Lane']
Sorting on values :  [4098, 4127, 4127]
Checking for presence of an element :  True
Checking for ABSENCE of an element :  True
False

## Sets

In [0]:
A = {1,2,3,4,5,6,7}
B = {2,3,4,8,9,10}
C,D = {1,3,5,7}, {4,5,8,9}

print("A : ",A)
print("B : ",B)
print("C : ",C)
print("D : ",D)

# Set difference

print("A - B : ",A.difference(B))

# Intersection

print("C intersection D : ",C.intersection(D))

# Union

print("B union D : ",B.union(D))

# Checking for subset

print("Is C subset of A? : ",C.issubset(A))
print("Is D subset of B? : ",D.issubset(B))
print("Is B subset of A? : ",B.issubset(A))

# Checking for disjoint

print("Are C and D disjoint? : ",C.isdisjoint(D))

A :  {1, 2, 3, 4, 5, 6, 7}
B :  {2, 3, 4, 8, 9, 10}
C :  {1, 3, 5, 7}
D :  {8, 9, 4, 5}
A - B :  {1, 5, 6, 7}
C intersection D :  {5}
B union D :  {2, 3, 4, 5, 8, 9, 10}
Is C subset of A? :  True
Is D subset of B? :  False
Is B subset of A? :  False
Are C and D disjoint? :  False

## Strings

In [0]:
# String operations

str = 'Keeping time, time, time... In a sort of runic rhyme... To the tintinnabulation... That so musically wells...'  # A string

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:15])     # Prints characters starting from 3rd to 15th element
print(str[17:])      # Prints string starting from 17th character
print(str[:12])      # Prints upto 12th character
print(str * 2)      # Prints string two times
print(str + "---Edgar Allan Poe") # Prints concatenated string

Keeping time, time, time... In a sort of runic rhyme... To the tintinnabulation... That so musically wells...
K
eping time, t
e, time... In a sort of runic rhyme... To the tintinnabulation... That so musically wells...
Keeping time
Keeping time, time, time... In a sort of runic rhyme... To the tintinnabulation... That so musically wells...Keeping time, time, time... In a sort of runic rhyme... To the tintinnabulation... That so musically wells...
Keeping time, time, time... In a sort of runic rhyme... To the tintinnabulation... That so musically wells...---Edgar Allan Poe

## Control Statements

In [0]:
# if 

a,b,c = 5,3,3498

if a > 2:
  print("Blistering Barnackles!!!")

  
  
# if ... else


if a < b:
  print("Catch me if you can...")
else:
  print("A garden is a lovesome thing, God Wot!")
  
  
  
# with and ... or


if (a<c) and (b<c):
  print("She sells sea shells on the sea shore")
  
if (a<b) or (b==3):
  print("Rats live on no evil star")
  
'''
Other simple tricks
By the way this is 


multi line comments


'''

x, y, z = 0, 1, 0

if x == 1 or y == 1 or z == 1:
    print('passed Level 0')

if 1 in (x, y, z):
    print('passed Level 1')

# These only test for truthiness:
if x or y or z:
    print('passed Level 2')

if any((x, y, z)):
    print('passed Level 3')

Blistering Barnackles!!!
A garden is a lovesome thing, God Wot!
She sells sea shells on the sea shore
Rats live on no evil star
passed Level 0
passed Level 1
passed Level 2
passed Level 3

In [0]:
# loops
# for loop

for i in range(0,10):
    
    if i%2 == 0:
        print("Square of ",i," is :",i*i)
        
    else:
        print(i,"is an odd number")    
        
characters = ["Holmes","Poirot","Bond","Hunt"]

for x in characters:
  print("Hi I am ", x)
  
  
for x in characters[0]:
  print(x)

Square of  0  is : 0
1 is an odd number
Square of  2  is : 4
3 is an odd number
Square of  4  is : 16
5 is an odd number
Square of  6  is : 36
7 is an odd number
Square of  8  is : 64
9 is an odd number
Hi I am  Holmes
Hi I am  Poirot
Hi I am  Bond
Hi I am  Hunt
H
o
l
m
e
s

## Functions

In [0]:
'''
Functions start with def keyword
'''

def area(length,width):
    return length*width

  
are = area(10,20)
print("Area of rectangle:",are)

Area of rectangle: 200

## Class

In [0]:
class my_class:
    
    mean_x = 0
    mean_y = 0
    
    def __init__(self,i,j):
        self.x = i
        self.y = j
        
        
    def show(self):
        print (self.x)
        print (self.y)
        
    def mean(self):
        sizex = len(self.x)
        sumx = 0
        for i in self.x:
            sumx = sumx + i
        sizey = len(self.y)
        sumy = 0
        for i in self.y:
            sumy = sumy + i            
        
        mean_x = sumx/sizex
        mean_y = sumy/sizey
        self.mean_x = mean_x
        self.mean_y = mean_y
        
        print ("Mean x : ",mean_x)
        print ("Mean y : ",mean_y)

def main():
    x = [0,1,2,3,4,5,6,7,8,9]
    y = [1,2,4,5,4,3,7,6,7,8]
    
    obj_ref = my_class(x,y)
    obj_ref.show()
    obj_ref.mean()        
        
main()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 4, 3, 7, 6, 7, 8]
Mean x :  4.5
Mean y :  4.7